.flex-container {
  display: flex;
  padding-block: 2rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-block-end: solid hsl(220, 14%, 75%) 1px;
  background-color: hsl(0, 0%, 100%);
}

.Navigation {
  display: flex;
  align-items: center;
}

main {
  margin-top: 5.5rem;
  display: grid;
  grid-template-areas:
    'a a'
    'b b';
}

.Menu {
  display: none;
}

nav,
li {
  display: block;
}

li:hover {
  border-bottom: 5px solid hsl(26, 100%, 55%);
  margin-bottom: -50px;
  height: 65.5px;
}

ul {
  display: flex;
}

.profile {
  display: flex;
  align-items: center;
}

.image-button img {
  margin-left: 2rem;
  min-width: 25px;
  height: 50px;
  margin-right: 0;
}

#Avatar:hover {
  outline: solid 0.2rem hsl(26, 100%, 55%);
  border-radius: 50%;
}

.close {
  display: none;
}

body {
  margin: 0;
  padding: 0 10% 0 10%;
}

button {
  font-family: 'Kumbh Sans', sans-serif;
  color: hsl(219, 9%, 45%);
  font-size: 16px;
  background-color: Transparent;
  box-shadow: none;
  border: none;
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
  font-family: 'Kumbh Sans', sans-serif;
  padding: 20px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.cart {
  display: flex;
  justify-content: center;
}

.insideCart {
  display: none;
  top: 6rem;
  background-color: hsl(0, 0%, 100%);
  position: absolute;
  box-shadow: 0 20px 20px 0 hsl(0, 0%, 0%, 0.2);
  width: 355px;
  height: 255px;
  border-radius: 10px;
  font-weight: 700;
  font-family: 'Kumbh Sans', sans-serif;
}

.HideNav {
  visibility: visible;
}

.HideCart {
  display: none;
}

.CartTitle {
  border-bottom: 1px solid hsl(220, 14%, 75%);
  padding: 1.5rem;
  margin: 0;
}

.CartEmpty {
  color: hsl(219, 9%, 45%);
  text-align: center;
}

.PlaceHolder {
  padding-left: 2em;
  padding-right: 2em;
}

/*Rian Tyylit*/

.lopullinen-hinta {
  color: hsl(220, 14%, 75%);
  text-decoration: line-through;
  margin-right: 25px;
  border-right: 30px;
}

.teksti3 {
  color: hsl(219, 9%, 45%)
}

.teksti3 {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 16px;
  width: 400px;
  line-height: 23px;
}

p {
  font-family: Kumbh Sans, Arial;
}

.teksti2 {
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: hsl(0, 0%, 0%);
  width: 320px;
}


.ostoskärry {

  max-width: 16px;
  vertical-align: middle;
  padding: 0 10px 2px 0;
  filter: brightness(100);


}


.teksti1 {
  color: hsl(26, 100%, 55%);
  font-family: Kumbh Sans;
  font-weight: bold;
  Font-size: 16px;

}

.hinta {
  color: hsl(220, 13%, 13%);
  font-weight: bold;
  font-size: 18px;
  border: none;
  background-color: white;
}

.alennus {
  color: hsl(26, 100%, 55%);
  background-color: hsl(25, 100%, 95%);
  border: none;
  border-radius: 3px;
  height: 20px;
  width: 45px;
  font-weight: bold;
}

.osto-button {
  background-color: hsl(26, 100%, 55%);
  color: white;
  border: none;
  height: 55px;
  width: 270px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  transition: opacity 0.15s;
  box-shadow: 10px 15px 10px hsl(27, 66%, 92%);

}


.osto-button:hover {
  background-color: hsl(25, 93%, 78%)
}

.summa-button {
  background-color: hsl(223, 64%, 98%);
  font-family: Kumbh Sans;
  color: white;
  border: none;
  height: 55px;
  width: 155px;
  border-radius: 5px;
  cursor: pointer;
  color: hsl(0, 0%, 0%);
  margin-right: 15px;
  margin-bottom: 10px;
}

.summa-button {
  font-weight: bold;
}

.span-example1 {
  color: hsl(26, 100%, 55%);
  margin-left: 3px;
  margin-right: 19px;
}

.span-example2 {
  color: hsl(26, 100%, 55%);
  margin-left: 12px;
  margin-right: 5px;
}


/* Mobiili Versio */
@media only screen and (max-width: 815px) {
  body {
    padding: 0;
  }

  .close {
    display: block;
  }

  main {
    margin-top: 0;
    grid-template-areas: none;
  }

  .flex-container {
    border-block-end: none;
    padding-block: 1rem;
  }

  ul {
    padding: 20px;
    width: 55%;
    height: 100%;
    margin: 0;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;
  }

  nav {
    visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: hsl(0, 0%, 0%, 0.6);
    left: 0;
    top: 0;
  }

  li {
    margin-block: 20px;
  }

  li button {
    color: hsl(220, 13%, 13%);
    font-weight: 700;
  }

  li:hover {
    border-bottom: none;
    margin-bottom: -43.5px;
  }

  .close {
    margin-top: 5px;
    margin-bottom: 50px;
  }

  .Menu {
    display: block;
    margin-top: 0.5rem;
    margin-left: 1rem;
    margin-right: 0.5rem;
  }

  .image-button img {
    max-height: 25px;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .PlaceHolder {
    grid-area: b;
  }

  .insideCart {
    top: 4.5rem;
    left: 50%;
    transform: translate(-50%);
    width: 90%;
    height: auto;
  }

  /* Rian Tyylit */

  .osto-button {
    background-color: hsl(26, 100%, 55%);
    color: white;
    border: none;
    height: 45px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    transition: opacity 0.15s;
    box-shadow: 10px 15px 10px hsl(27, 66%, 92%);
    width: 100%;
    margin-left: 0;
  }



  .summa-button {
    background-color: hsl(223, 64%, 98%);
    font-family: Kumbh Sans;
    color: white;
    border: none;
    height: 45px;
    border-radius: 5px;
    cursor: pointer;
    color: hsl(0, 0%, 0%);
    width: 100%;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .hinta {
    color: hsl(220, 13%, 13%);
    font-weight: bold;
    font-size: 25px;
    border: none;
    background-color: white;
  }

  .alennus {
    color: hsl(26, 100%, 55%);
    background-color: hsl(25, 100%, 95%);
    border: none;
    border-radius: 3px;
    height: 25px;
    width: 45px;
    font-weight: bold;
  }


  .lopullinen-hinta {
    color: hsl(220, 14%, 75%);
    font-weight: 700;
    text-decoration: line-through;
    font-size: 25px;
    margin-top: 0px;
    float: right;
  }

  .teksti3 {
    width: auto;
  }


}